@using LAEQ.ViewModel
@model ViewRent
@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/Laeq.js"></script>
<script>
    var Js = new Laeq_LaeqRent();
    $(document).ready(function()
    {
        Js.Initialize();
        $("#StartDate").datepicker();
        $("#EndDate").datepicker();
    })
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <br />
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <h4 class="marginleft">Create Rent</h4>
                <hr />
                <div class="panel-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MachineId, "Machine ID", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Machine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search Machine ID" , Required = true } })
                                    @Html.HiddenFor(model => model.MachineId)
                                    @Html.ValidationMessageFor(model => model.MachineId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerId, "Customer", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search Customer Name" , Required = true } })
                                    @Html.HiddenFor(model => model.CustomerId)
                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Start Date" , Required = true } })
                                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "End Date" , Required = true } })
                                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RentPriceText,  "Rent Price",htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.RentPriceText, new { htmlAttributes = new { @class = "form-control number", @placeholder = "Rent Price" , Required = true } })
                                    @Html.ValidationMessageFor(model => model.RentPriceText, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @placeholder = "Remark" })
                                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-10">
                                    <input type="submit" value="Create" class="btn background-docker" />
                                    <input type="button" value="Back Search" class="btn background-docker" onclick="window.location.href='@Url.Action("Index","Rent")'" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
}


